@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap");
/*========================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: calc(100% - 250px);
  margin: 0 auto;
  padding: 28px 0;
}

header {
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}

.text {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 2px;
}

.burger {
  display: none;
}

.home {
  background: url(../img/desktop/background/01.jpg) center/cover no-repeat;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding-bottom: 30px;
}
.home__nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s;
}
.home__nav-link:hover {
  color: #ff6565;
}
.home__navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home__nav-list {
  display: flex;
  gap: 40px;
  padding: 13px;
}
.home__body {
  width: 65%;
  text-align: center;
  color: #fff;
  margin: 310px auto 0px auto;
  opacity: 0.8;
}
.home__subtitle {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.home__button {
  margin: 55px 0px;
  padding-top: 14px;
}

.about {
  width: 100%;
  padding: 110px 0px;
  letter-spacing: 2px;
  min-height: 100vh;
}
.about__body {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.about__title {
  opacity: 0.76;
}
.about__text {
  margin: 40px 0 100px 0;
}
.about__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.about__item {
  flex-basis: 23%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 210px;
  gap: 30px;
}
.about__item-img {
  height: 76px;
  width: 94px;
  margin: 0 auto 10px auto;
}
.about__item-img img {
  height: 100%;
  width: 100%;
}
.about__item-title {
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}
.about__item-text {
  font-size: 14px;
  font-weight: 300;
}

.button {
  display: inline-block;
  width: 162px;
  height: 44px;
  background-color: #ff6565;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 22px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  transition: ease 0.5s;
}
.button:hover {
  transform: translateY(3px);
}

.button[disabled] {
  opacity: 0.7;
  background-color: #fe9b9b;
}

.results {
  background: url(../img/desktop/background/02.jpg) 0 0/cover no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
}
.results__body {
  text-align: center;
  color: #fff;
  opacity: 0.8;
  margin: 40px auto 60px auto;
  width: 75%;
}
.results__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}
.results__text {
  font-size: 16px;
  font-weight: 400;
}
.results__list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.results__item {
  width: 170px;
  height: 110px;
  text-align: center;
  color: #fff;
  position: relative;
}
.results__item::after, .results__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 1px;
}
.results__item::after {
  bottom: 0;
  left: 0;
  border-bottom: #ff6565 solid 2px;
  border-left: #ff6565 solid 2px;
}
.results__item::before {
  top: 0;
  right: 0;
  border-top: #ff6565 solid 2px;
  border-right: #ff6565 solid 2px;
}
.results__item-title {
  font-size: 46px;
  font-weight: 700;
  transform: translateY(50%);
}
.results__item-text {
  font-size: 12px;
  font-weight: 300;
  transform: translateY(25px);
}

.contact {
  min-height: 600px;
  width: 100%;
  padding: 60px 0;
}
.contact__title {
  text-align: center;
  margin-bottom: 60px;
}
.contact__form {
  min-width: 320px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact__form input, .contact__form textarea {
  display: block;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 28px;
}
.contact__form label {
  opacity: 0.75;
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 0;
  transition: 0.3s;
}
.contact__form input:focus + label, .contact__form textarea:focus + label,
.contact label.active {
  transform: scale(0.9) translate(-5%, -170%);
}
.contact__form fieldset {
  position: relative;
}
.contact__message {
  padding: 5px 0;
}
.contact__button {
  margin: 60px auto 0 auto;
}

.footer {
  width: 100%;
  min-height: 150px;
  background: #071629;
  color: #fff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
}
.footer p {
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  opacity: 0.6;
}
.footer__icons {
  display: flex;
  gap: 15px;
  align-self: center;
}
.footer__icon {
  color: #fff;
  transform: scale(1.3);
  transition: 0.3s;
}
.footer__facebook:hover {
  color: #0062e2;
}
.footer__twitter:hover {
  color: #50c8ff;
}
.footer__instagram:hover {
  color: #f50163;
}

.success {
  min-height: 600px;
  width: 100%;
  padding: 100px 0;
}
.success__body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.success__button {
  width: 200px;
  height: 60px;
}
.success__container {
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: border linear 0.7s infinite 1s;
}
.success__title {
  font-size: 30px;
  color: rgb(26, 130, 44);
  font-weight: 700;
  transform: translateY(50%);
  opacity: 0;
  animation: title 0.9s forwards;
}
.success__text {
  font-size: 22px;
  color: rgb(26, 130, 44);
  transform: translateY(50%);
  opacity: 0;
  animation: title 0.9s forwards 1s;
}
.success__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  background-color: #fff;
  animation: success-icon 1.2s forwards;
}
.success__icon {
  font-size: 80px;
  color: rgb(36, 187, 61);
}

@keyframes title {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes border {
  0% {
    outline: 0px solid rgba(255, 65, 65, 0);
  }
  50% {
    outline: 5px solid rgba(36, 187, 61, 0.533);
  }
  100% {
    outline: 9px solid rgba(255, 65, 65, 0);
  }
}
@keyframes success-icon {
  0% {
    left: 0px;
  }
  100% {
    left: 131px;
  }
}
@media (max-width: 1374px) {
  .about__item {
    flex-basis: 45%;
    gap: 10%;
  }
  .about__item-text {
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .results__list {
    width: 70%;
    gap: 80px;
  }
}
@media (max-width: 959px) {
  .about__items {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 40px;
  }
  .about__item {
    gap: 30px;
  }
  .about__item-text {
    text-align: center;
  }
  .about__body {
    width: 100%;
  }
  .container {
    width: calc(100% - 100px);
  }
  .home__body {
    width: 70%;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
    gap: 20px;
  }
  .footer__container img {
    width: 160px;
  }
}
@media (max-width: 768px) {
  .results {
    background: url(../img/tablet/background/02.jpg) 0 0/cover no-repeat;
    padding: 40px 0;
  }
  .results__body {
    margin: 40px auto 130px auto;
    width: 90%;
  }
  .results__title {
    margin-bottom: 80px;
  }
  .results__list {
    width: 75%;
  }
  .about {
    padding: 30px 0;
  }
  .container {
    width: calc(100% - 50px);
  }
  .home {
    background: url(../img/tablet/background/main-bg.jpg) 0 0/cover no-repeat;
  }
  .home__nav-list {
    z-index: 4;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 100px 30px 30px 50px;
    transition: right 0.4s;
    overflow: scroll;
    flex-direction: column;
    gap: 100px;
  }
  .home__nav-list.active {
    right: -50%;
  }
  .home__body {
    width: 90%;
  }
  .home__navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(33, 33, 33, 0.65);
    z-index: 4;
  }
  .burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-top: 5px;
  }
  .burger span {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    transition: 0.4s;
    background-color: #fff;
  }
  .burger span:first-child {
    top: 0;
  }
  .burger span:nth-child(2) {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
  .burger span:last-child {
    bottom: 0;
  }
  .burger.active span:nth-child(2) {
    transform: scale(0) translateX(-50%);
  }
  .burger.active span:first-child {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger.active span:last-child {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
@media (max-width: 615px) {
  .results__item {
    width: 130px;
    height: 100px;
    text-align: center;
  }
  .results__item-title {
    font-size: 35px;
  }
}
@media (max-width: 530px) {
  .about__text {
    text-align: justify;
  }
  .results {
    background: url(../img/mobile/background/02.jpg) 0 0/cover no-repeat;
  }
  .results__body {
    margin: 0px auto 40px auto;
  }
  .results__text {
    text-align: justify;
  }
  .results__list {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .results__item {
    width: 220px;
    height: 110px;
  }
  .results__item-title {
    font-size: 46px;
  }
  .container {
    width: calc(100% - 30px);
  }
  .home {
    background: url(../img/mobile/background/01.jpg) 0 0/cover no-repeat;
  }
  .home__body {
    width: 100%;
  }
  .home__text {
    text-align: justify;
  }
}